html{
    font-size: 15px;
    font-family: sans-serif;
    background-image: url(../img/pexels-anete-lusina-4792285.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

/* __________________Userable_______________________ */

h1{
    text-align: center;
}

h1 i{
    margin-right: 10px;
}

h2{
    text-align: center;
}

h2 i{
    margin-right: 10px;
}

/* _________________________________________________ */

/* __________________Header_________________________ */

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 300%;
    font-weight: 700;
    color: white;
    border: 5px;
    width: 600px;
    text-align: center;
    position: relative;
    top:200px;
    left: 370px;
    line-height: 120%;
}

.header{
    list-style: none;
    background-color: #575fcf;
    border-radius: 20px;
    position: fixed;
    top: 10px;
    left: 540px;
}

.header li{
    display: inline-block;
    margin-right: 30px;

}

.header li a{
    text-decoration: none;
    color: white;
    font-size: 150%;
    font-weight: 500;
    transition: all 0.5s;
}

.header li a:hover,
.header li a:active{
    border-bottom: 3px solid white;
}

/* _________________________________________________ */

/* ___________________Content_______________________ */
.content{
    background-color: white;
    border-radius: 10px;
    width: 900px;
    margin: 0px auto;
    margin-top: 140px;
    padding: 30px;
    font-size: 120%;
}
/* _________________________________________________ */