<html>
<head>
<title>editUser.html</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #a9b7c6;}
.s2 { color: #bababa;}
.s3 { color: #a5c261;}
.s4 { color: #a9b7c6;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
editUser.html</font>
</center></td></tr></table>
<pre><span class="s0">&lt;!DOCTYPE </span><span class="s2">html</span><span class="s0">&gt;</span>
<span class="s0">&lt;html </span><span class="s2">xmlns</span><span class="s3">=&quot;http://www.w3.org/1999/xhtml&quot;</span>
      <span class="s2">xmlns:th</span><span class="s3">=&quot;http://www.thymeleaf.org&quot;</span>
      <span class="s2">xmlns:sec</span><span class="s3">=&quot;http://www.thymeleaf.org/extras/spring-security&quot;</span><span class="s0">&gt;</span>
<span class="s0">&lt;html </span><span class="s2">lang</span><span class="s3">=&quot;en&quot;</span><span class="s0">&gt;</span>
<span class="s0">&lt;head&gt;</span>
    <span class="s0">&lt;meta </span><span class="s2">charset</span><span class="s3">=&quot;UTF-8&quot;</span><span class="s0">&gt;</span>
    <span class="s0">&lt;title&gt;</span><span class="s4">Title</span><span class="s0">&lt;/title&gt;</span>
    <span class="s0">&lt;link </span><span class="s2">th:href</span><span class="s3">=&quot;@{editUser.css}&quot; </span><span class="s2">rel</span><span class="s3">=&quot;stylesheet&quot; </span><span class="s0">/&gt;</span>
    <span class="s0">&lt;script </span><span class="s2">src</span><span class="s3">=&quot;https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js&quot;</span><span class="s0">&gt;&lt;/script&gt;</span>
<span class="s0">&lt;/head&gt;</span>
<span class="s0">&lt;body&gt;</span>
    <span class="s0">&lt;div </span><span class="s2">th:if</span><span class="s3">=&quot;${isAdmin == 'yes'}&quot;</span><span class="s0">&gt;</span>
        <span class="s0">&lt;div&gt;</span><span class="s4">Chỉnh sửa thông tin đăng nhập nhân viên</span><span class="s0">&lt;/div&gt;</span>
        <span class="s0">&lt;div&gt;</span>
            <span class="s0">&lt;form </span><span class="s2">th:action</span><span class="s3">=&quot;@{/home}&quot; </span><span class="s2">th:object</span><span class="s3">=&quot;${nhanVienEdit}&quot; </span><span class="s2">method</span><span class="s3">=&quot;post&quot;</span><span class="s0">&gt;</span>
                <span class="s0">&lt;div&gt;</span><span class="s4">Mã số nhân viên</span><span class="s0">&lt;/div&gt;</span>
                <span class="s0">&lt;div </span><span class="s2">th:text</span><span class="s3">=&quot;${nhanVienEdit.getMSNV()}&quot;</span><span class="s0">&gt;&lt;/div&gt;</span>
                <span class="s0">&lt;input </span><span class="s2">type</span><span class="s3">=&quot;hidden&quot; </span><span class="s2">name</span><span class="s3">=&quot;MSNV&quot; </span><span class="s2">id</span><span class="s3">=&quot;MSNV&quot; </span><span class="s2">th:value</span><span class="s3">=&quot;${nhanVienEdit.getMSNV()}&quot;</span><span class="s0">&gt;</span>
                <span class="s0">&lt;div&gt;</span><span class="s4">Tên nhân viên</span><span class="s0">&lt;/div&gt;</span>
                <span class="s0">&lt;div </span><span class="s2">th:text</span><span class="s3">=&quot;${nhanVienEdit.getHoTen()}&quot;</span><span class="s0">&gt;&lt;/div&gt;</span>
                <span class="s0">&lt;div&gt;</span><span class="s4">Tên đăng nhập</span><span class="s0">&lt;/div&gt;</span>
                <span class="s0">&lt;input </span><span class="s2">th:value</span><span class="s3">=&quot;${nhanVienEdit.getTenDangNhap()}&quot; </span><span class="s2">name</span><span class="s3">=&quot;tenDangNhap&quot; </span><span class="s2">id</span><span class="s3">=&quot;tenDangNhap&quot; </span><span class="s2">required</span><span class="s0">&gt;</span>
                <span class="s0">&lt;div&gt;</span><span class="s4">Mật khẩu</span><span class="s0">&lt;/div&gt;</span>
                <span class="s0">&lt;input </span><span class="s2">type</span><span class="s3">=&quot;text&quot; </span><span class="s2">name</span><span class="s3">=&quot;matKhau&quot; </span><span class="s2">id</span><span class="s3">=&quot;matKhau&quot; </span><span class="s2">required</span><span class="s0">&gt;</span>
                <span class="s0">&lt;input </span><span class="s2">type</span><span class="s3">=&quot;hidden&quot; </span><span class="s2">value</span><span class="s3">=&quot;5&quot; </span><span class="s2">name</span><span class="s3">=&quot;pageView&quot;</span><span class="s0">&gt;</span>
                <span class="s0">&lt;input </span><span class="s2">type</span><span class="s3">=&quot;hidden&quot; </span><span class="s2">name</span><span class="s3">=&quot;action&quot; </span><span class="s2">value</span><span class="s3">=&quot;editUserConfirm&quot;</span><span class="s0">&gt;</span>
                <span class="s0">&lt;br&gt;</span>
                <span class="s0">&lt;br&gt;</span>
                <span class="s0">&lt;input </span><span class="s2">type</span><span class="s3">=&quot;submit&quot; </span><span class="s2">value</span><span class="s3">=&quot;Xác nhận&quot;</span><span class="s0">&gt;</span>
            <span class="s0">&lt;/form&gt;</span>
        <span class="s0">&lt;/div&gt;</span>
    <span class="s0">&lt;/div&gt;</span>
    <span class="s0">&lt;div </span><span class="s2">th:if</span><span class="s3">=&quot;${isAdmin == 'no'}&quot;</span><span class="s0">&gt;</span>
        <span class="s0">&lt;div&gt;</span><span class="s4">Chỉnh sửa thông tin nhân viên</span><span class="s0">&lt;/div&gt;</span>
        <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;edit-info-container&quot;</span><span class="s0">&gt;</span>
            <span class="s0">&lt;form </span><span class="s2">th:action</span><span class="s3">=&quot;@{/home}&quot; </span><span class="s2">th:object</span><span class="s3">=&quot;${nhanVienEdit}&quot; </span><span class="s2">method</span><span class="s3">=&quot;post&quot; </span><span class="s2">enctype</span><span class="s3">=&quot;multipart/form-data&quot;</span><span class="s0">&gt;</span>
                <span class="s0">&lt;input </span><span class="s2">type</span><span class="s3">=&quot;hidden&quot; </span><span class="s2">name</span><span class="s3">=&quot;MSNV&quot; </span><span class="s2">id</span><span class="s3">=&quot;MSNV&quot; </span><span class="s2">th:value</span><span class="s3">=&quot;${nhanVienEdit.getMSNV()}&quot;</span><span class="s0">&gt;</span>
                <span class="s0">&lt;div&gt;</span>
                    <span class="s0">&lt;div&gt;</span><span class="s4">Thông tin đăng nhập</span><span class="s0">&lt;/div&gt;</span>
                    <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;login-info-container&quot;</span><span class="s0">&gt;</span>
                        <span class="s0">&lt;table&gt;</span>
                            <span class="s0">&lt;tr&gt;</span>
                                <span class="s0">&lt;td&gt;&lt;span&gt;</span><span class="s4">Tên đăng nhập</span><span class="s0">&lt;/span&gt;&lt;/td&gt;</span>
                                <span class="s0">&lt;td&gt;&lt;input </span><span class="s2">th:value</span><span class="s3">=&quot;${nhanVienEdit.getTenDangNhap()}&quot; </span><span class="s2">name</span><span class="s3">=&quot;tenDangNhap&quot; </span><span class="s2">id</span><span class="s3">=&quot;tenDangNhap&quot; </span><span class="s2">required</span><span class="s0">&gt;&lt;/td&gt;</span>
                            <span class="s0">&lt;/tr&gt;</span>
                            <span class="s0">&lt;tr&gt;</span>
                                <span class="s0">&lt;td&gt;&lt;div&gt;</span><span class="s4">Mật khẩu</span><span class="s0">&lt;/div&gt;&lt;/td&gt;</span>
                                <span class="s0">&lt;td&gt;&lt;input </span><span class="s2">type</span><span class="s3">=&quot;text&quot; </span><span class="s2">name</span><span class="s3">=&quot;matKhau&quot; </span><span class="s2">id</span><span class="s3">=&quot;matKhau&quot;</span><span class="s0">&gt;&lt;/td&gt;</span>
                            <span class="s0">&lt;/tr&gt;</span>
                        <span class="s0">&lt;/table&gt;</span>
                    <span class="s0">&lt;/div&gt;</span>
                <span class="s0">&lt;/div&gt;</span>
                <span class="s0">&lt;div&gt;</span>
                    <span class="s0">&lt;div&gt;</span><span class="s4">Thông tin cá nhân</span><span class="s0">&lt;/div&gt;</span>
                    <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;personal-info-container&quot;</span><span class="s0">&gt;</span>
                        <span class="s0">&lt;table&gt;</span>
                            <span class="s0">&lt;tr&gt;</span>
                                <span class="s0">&lt;td&gt;&lt;span&gt;</span><span class="s4">Mã số nhân viên</span><span class="s0">&lt;/span&gt;&lt;/td&gt;</span>
                                <span class="s0">&lt;td&gt;&lt;div </span><span class="s2">th:text</span><span class="s3">=&quot;${nhanVienEdit.getMSNV()}&quot;</span><span class="s0">&gt;&lt;/div&gt;&lt;/td&gt;</span>
                            <span class="s0">&lt;/tr&gt;</span>
                            <span class="s0">&lt;tr&gt;</span>
                                <span class="s0">&lt;td&gt;&lt;span&gt;</span><span class="s4">Tên nhân viên</span><span class="s0">&lt;/span&gt;&lt;/td&gt;</span>
                                <span class="s0">&lt;td&gt;&lt;div </span><span class="s2">th:text</span><span class="s3">=&quot;${nhanVienEdit.getHoTen()}&quot;</span><span class="s0">&gt;&lt;/div&gt;&lt;/td&gt;</span>
                            <span class="s0">&lt;/tr&gt;</span>
                            <span class="s0">&lt;tr&gt;</span>
                                <span class="s0">&lt;td&gt;&lt;span&gt;</span><span class="s4">Số điện thoại</span><span class="s0">&lt;/span&gt;&lt;/td&gt;</span>
                                <span class="s0">&lt;td&gt;&lt;input </span><span class="s2">th:type</span><span class="s3">=&quot;String&quot; </span><span class="s2">th:value</span><span class="s3">=&quot;${nhanVienEdit.getSDT()}&quot; </span><span class="s2">id</span><span class="s3">=&quot;SDT&quot; </span><span class="s2">name</span><span class="s3">=&quot;SDT&quot; </span><span class="s2">required</span><span class="s0">&gt;&lt;/td&gt;</span>
                            <span class="s0">&lt;/tr&gt;</span>
                            <span class="s0">&lt;tr&gt;</span>
                                <span class="s0">&lt;td&gt;&lt;span&gt;</span><span class="s4">Email</span><span class="s0">&lt;/span&gt;&lt;/td&gt;</span>
                                <span class="s0">&lt;td&gt;&lt;input </span><span class="s2">th:type</span><span class="s3">=&quot;String&quot; </span><span class="s2">th:value</span><span class="s3">=&quot;${nhanVienEdit.getEmail()}&quot; </span><span class="s2">id</span><span class="s3">=&quot;email&quot; </span><span class="s2">name</span><span class="s3">=&quot;email&quot; </span><span class="s2">required</span><span class="s0">&gt;&lt;/td&gt;</span>
                            <span class="s0">&lt;/tr&gt;</span>
                            <span class="s0">&lt;tr&gt;</span>
                                <span class="s0">&lt;td&gt;&lt;span&gt;</span><span class="s4">Số chứng minh thư</span><span class="s0">&lt;/span&gt;&lt;/td&gt;</span>
                                <span class="s0">&lt;td&gt;&lt;div </span><span class="s2">th:text</span><span class="s3">=&quot;${nhanVienEdit.getCMT()}&quot;</span><span class="s0">&gt;&lt;/div&gt;&lt;/td&gt;</span>
                            <span class="s0">&lt;/tr&gt;</span>
                            <span class="s0">&lt;tr&gt;</span>
                                <span class="s0">&lt;td&gt;&lt;span&gt;</span><span class="s4">Địa chỉ hiện tại</span><span class="s0">&lt;/span&gt;&lt;/td&gt;</span>
                                <span class="s0">&lt;td&gt;&lt;input </span><span class="s2">th:type</span><span class="s3">=&quot;String&quot; </span><span class="s2">th:value</span><span class="s3">=&quot;${nhanVienEdit.getDiaChiHienTai()}&quot; </span><span class="s2">id</span><span class="s3">=&quot;diaChiHienTai&quot; </span><span class="s2">name</span><span class="s3">=&quot;diaChiHienTai&quot; </span><span class="s2">required</span><span class="s0">&gt;&lt;/td&gt;</span>
                            <span class="s0">&lt;/tr&gt;</span>
                            <span class="s0">&lt;tr&gt;</span>
                                <span class="s0">&lt;td&gt;&lt;span&gt;</span><span class="s4">Quê quán</span><span class="s0">&lt;/span&gt;&lt;/td&gt;</span>
                                <span class="s0">&lt;td&gt;&lt;input </span><span class="s2">th:type</span><span class="s3">=&quot;String&quot; </span><span class="s2">th:value</span><span class="s3">=&quot;${nhanVienEdit.getQueQuan()}&quot; </span><span class="s2">id</span><span class="s3">=&quot;queQuan&quot; </span><span class="s2">name</span><span class="s3">=&quot;queQuan&quot; </span><span class="s2">required</span><span class="s0">&gt;&lt;/td&gt;</span>
                            <span class="s0">&lt;/tr&gt;</span>
                            <span class="s0">&lt;tr&gt;</span>
                                <span class="s0">&lt;td&gt;&lt;span&gt;</span><span class="s4">Ngày sinh</span><span class="s0">&lt;/span&gt;&lt;/td&gt;</span>
                                <span class="s0">&lt;td&gt;&lt;input </span><span class="s2">th:type</span><span class="s3">=&quot;date&quot; </span><span class="s2">th:value</span><span class="s3">=&quot;${nhanVienEdit.getNgaySinh()}&quot; </span><span class="s2">id</span><span class="s3">=&quot;ngaySinh&quot; </span><span class="s2">name</span><span class="s3">=&quot;ngaySinh&quot; </span><span class="s2">required</span><span class="s0">&gt;&lt;/td&gt;</span>
                            <span class="s0">&lt;/tr&gt;</span>
                            <span class="s0">&lt;tr&gt;</span>
                                <span class="s0">&lt;td&gt;&lt;span&gt;</span><span class="s4">Giới tính</span><span class="s0">&lt;/span&gt;&lt;/td&gt;</span>
                                <span class="s0">&lt;td&gt;</span>
                                    <span class="s0">&lt;select </span><span class="s2">name</span><span class="s3">=&quot;gioiTinh&quot; </span><span class="s2">id</span><span class="s3">=&quot;gioiTinh&quot;</span><span class="s0">&gt;</span>
                                        <span class="s0">&lt;option </span><span class="s2">value</span><span class="s3">=&quot;Nam&quot;</span><span class="s0">&gt;</span><span class="s4">Nam</span><span class="s0">&lt;/option&gt;</span>
                                        <span class="s0">&lt;option </span><span class="s2">value</span><span class="s3">=&quot;Nữ&quot;</span><span class="s0">&gt;</span><span class="s4">Nữ</span><span class="s0">&lt;/option&gt;</span>
                                        <span class="s0">&lt;option </span><span class="s2">value</span><span class="s3">=&quot;Không rõ&quot;</span><span class="s0">&gt;</span><span class="s4">Không rõ</span><span class="s0">&lt;/option&gt;</span>
                                    <span class="s0">&lt;/select&gt;</span>
                                <span class="s0">&lt;/td&gt;</span>
                            <span class="s0">&lt;/tr&gt;</span>
                            <span class="s0">&lt;tr&gt;</span>
                                <span class="s0">&lt;td&gt;&lt;span&gt;</span><span class="s4">Dân tộc</span><span class="s0">&lt;/span&gt;&lt;/td&gt;</span>
                                <span class="s0">&lt;td&gt;&lt;input </span><span class="s2">th:type</span><span class="s3">=&quot;text&quot; </span><span class="s2">th:value</span><span class="s3">=&quot;${nhanVienEdit.getDanToc()}&quot; </span><span class="s2">id</span><span class="s3">=&quot;danToc&quot; </span><span class="s2">name</span><span class="s3">=&quot;danToc&quot; </span><span class="s2">required</span><span class="s0">&gt;&lt;/td&gt;</span>
                            <span class="s0">&lt;/tr&gt;</span>
                            <span class="s0">&lt;tr&gt;</span>
                                <span class="s0">&lt;td&gt;&lt;span&gt;</span><span class="s4">Sở thích</span><span class="s0">&lt;/span&gt;&lt;/td&gt;</span>
                                <span class="s0">&lt;td&gt;&lt;input </span><span class="s2">th:type</span><span class="s3">=&quot;text&quot; </span><span class="s2">th:value</span><span class="s3">=&quot;${nhanVienEdit.getSoThich()}&quot; </span><span class="s2">id</span><span class="s3">=&quot;soThich&quot; </span><span class="s2">name</span><span class="s3">=&quot;soThich&quot; </span><span class="s2">required</span><span class="s0">&gt;&lt;/td&gt;</span>
                            <span class="s0">&lt;/tr&gt;</span>
                            <span class="s0">&lt;tr&gt;</span>
                                <span class="s0">&lt;td&gt;&lt;span&gt;</span><span class="s4">Ảnh đại diện</span><span class="s0">&lt;/span&gt;&lt;/td&gt;</span>
                                <span class="s0">&lt;td&gt;&lt;input </span><span class="s2">type</span><span class="s3">=&quot;file&quot; </span><span class="s2">name</span><span class="s3">=&quot;avatarEdit&quot; </span><span class="s2">class</span><span class="s3">=&quot;form-control-file&quot;</span><span class="s0">&gt;&lt;/td&gt;</span>
                            <span class="s0">&lt;/tr&gt;</span>
                        <span class="s0">&lt;/table&gt;</span>
                        <span class="s0">&lt;input </span><span class="s2">type</span><span class="s3">=&quot;hidden&quot; </span><span class="s2">name</span><span class="s3">=&quot;action&quot; </span><span class="s2">value</span><span class="s3">=&quot;editInfoUserConfirm&quot;</span><span class="s0">&gt;</span>
                        <span class="s0">&lt;input </span><span class="s2">type</span><span class="s3">=&quot;hidden&quot; </span><span class="s2">name</span><span class="s3">=&quot;pageView&quot; </span><span class="s2">value</span><span class="s3">=&quot;1&quot;</span><span class="s0">&gt;</span>
                    <span class="s0">&lt;/div&gt;</span>
                <span class="s0">&lt;/div&gt;</span>
                <span class="s0">&lt;br&gt;</span>
                <span class="s0">&lt;br&gt;</span>
                <span class="s0">&lt;input </span><span class="s2">type</span><span class="s3">=&quot;submit&quot; </span><span class="s2">value</span><span class="s3">=&quot;Xác nhận&quot;</span><span class="s0">&gt;</span>
            <span class="s0">&lt;/form&gt;</span>
        <span class="s0">&lt;/div&gt;</span>
    <span class="s0">&lt;/div&gt;</span>
<span class="s0">&lt;/body&gt;</span>
<span class="s0">&lt;/html&gt;</span></pre>
</body>
</html>