<html>
<head>
<title>editLaborContact.html</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #a9b7c6;}
.s2 { color: #bababa;}
.s3 { color: #a5c261;}
.s4 { color: #a9b7c6;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
editLaborContact.html</font>
</center></td></tr></table>
<pre><span class="s0">&lt;!DOCTYPE </span><span class="s2">html</span><span class="s0">&gt;</span>
<span class="s0">&lt;html </span><span class="s2">xmlns</span><span class="s3">=&quot;http://www.w3.org/1999/xhtml&quot;</span>
      <span class="s2">xmlns:th</span><span class="s3">=&quot;http://www.thymeleaf.org&quot;</span>
      <span class="s2">xmlns:sec</span><span class="s3">=&quot;http://www.thymeleaf.org/extras/spring-security&quot;</span><span class="s0">&gt;</span>
<span class="s0">&lt;html </span><span class="s2">lang</span><span class="s3">=&quot;en&quot;</span><span class="s0">&gt;</span>
<span class="s0">&lt;head&gt;</span>
    <span class="s0">&lt;meta </span><span class="s2">charset</span><span class="s3">=&quot;UTF-8&quot;</span><span class="s0">&gt;</span>
    <span class="s0">&lt;title&gt;</span><span class="s4">Title</span><span class="s0">&lt;/title&gt;</span>
    <span class="s0">&lt;link </span><span class="s2">th:href</span><span class="s3">=&quot;@{main.css}&quot; </span><span class="s2">rel</span><span class="s3">=&quot;stylesheet&quot; </span><span class="s0">/&gt;</span>
    <span class="s0">&lt;script </span><span class="s2">src</span><span class="s3">=&quot;https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js&quot;</span><span class="s0">&gt;&lt;/script&gt;</span>
<span class="s0">&lt;/head&gt;</span>
<span class="s0">&lt;body&gt;</span>
    <span class="s0">&lt;div&gt;</span><span class="s4">Chỉnh sửa hợp đồng lao động</span><span class="s0">&lt;/div&gt;</span>
    <span class="s0">&lt;div&gt;</span>
        <span class="s0">&lt;form </span><span class="s2">th:action</span><span class="s3">=&quot;@{/home}&quot; </span><span class="s2">th:object</span><span class="s3">=&quot;${hopDongEdit}&quot; </span><span class="s2">method</span><span class="s3">=&quot;post&quot;</span><span class="s0">&gt;</span>
            <span class="s0">&lt;div&gt;</span><span class="s4">Mã số nhân viên</span><span class="s0">&lt;/div&gt;</span>
            <span class="s0">&lt;div </span><span class="s2">th:text</span><span class="s3">=&quot;${hopDong.getMSNV()}&quot;</span><span class="s0">&gt;&lt;/div&gt;</span>
            <span class="s0">&lt;input </span><span class="s2">type</span><span class="s3">=&quot;hidden&quot; </span><span class="s2">id</span><span class="s3">=&quot;MSNV&quot; </span><span class="s2">name</span><span class="s3">=&quot;MSNV&quot; </span><span class="s2">th:value</span><span class="s3">=&quot;${hopDong.getMSNV()}&quot;</span><span class="s0">&gt;</span>
            <span class="s0">&lt;div&gt;</span><span class="s4">Mã số hợp đồng</span><span class="s0">&lt;/div&gt;</span>
            <span class="s0">&lt;input </span><span class="s2">th:type</span><span class="s3">=&quot;text&quot; </span><span class="s2">th:value</span><span class="s3">=&quot;${hopDong.getMaHD()}&quot; </span><span class="s2">id</span><span class="s3">=&quot;maHD&quot; </span><span class="s2">name</span><span class="s3">=&quot;maHD&quot;</span><span class="s0">&gt;</span>
            <span class="s0">&lt;div&gt;</span><span class="s4">Tên hợp đồng</span><span class="s0">&lt;/div&gt;</span>
            <span class="s0">&lt;input </span><span class="s2">th:type</span><span class="s3">=&quot;text&quot; </span><span class="s2">th:value</span><span class="s3">=&quot;${hopDong.getTenHopDong()}&quot; </span><span class="s2">id</span><span class="s3">=&quot;tenHopDong&quot; </span><span class="s2">name</span><span class="s3">=&quot;tenHopDong&quot;</span><span class="s0">&gt;</span>
            <span class="s0">&lt;div&gt;</span><span class="s4">Tên nhân viên</span><span class="s0">&lt;/div&gt;</span>
            <span class="s0">&lt;div </span><span class="s2">th:text</span><span class="s3">=&quot;${nhanVien.getHoTen()}&quot;</span><span class="s0">&gt;&lt;/div&gt;</span>
            <span class="s0">&lt;div&gt;</span><span class="s4">Thời gian bắt đầu hợp đồng</span><span class="s0">&lt;/div&gt;</span>
            <span class="s0">&lt;input </span><span class="s2">th:type</span><span class="s3">=&quot;date&quot; </span><span class="s2">th:value</span><span class="s3">=&quot;${hopDong.getNgayBatDauHD()}&quot; </span><span class="s2">id</span><span class="s3">=&quot;ngayBatDauHD&quot; </span><span class="s2">name</span><span class="s3">=&quot;ngayBatDauHD&quot; </span><span class="s2">required</span><span class="s0">&gt;</span>
            <span class="s0">&lt;div&gt;</span><span class="s4">Thời gian kết thúc hợp đồng</span><span class="s0">&lt;/div&gt;</span>
            <span class="s0">&lt;input </span><span class="s2">th:type</span><span class="s3">=&quot;date&quot; </span><span class="s2">th:value</span><span class="s3">=&quot;${hopDong.getNgayKetThucHD()}&quot; </span><span class="s2">id</span><span class="s3">=&quot;ngayKetThucHD&quot; </span><span class="s2">name</span><span class="s3">=&quot;ngayKetThucHD&quot; </span><span class="s2">required</span><span class="s0">&gt;</span>
            <span class="s0">&lt;div&gt;</span><span class="s4">Lương nhân viên/tháng</span><span class="s0">&lt;/div&gt;</span>
            <span class="s0">&lt;input </span><span class="s2">type</span><span class="s3">=&quot;text&quot; </span><span class="s2">th:value</span><span class="s3">=&quot;${hopDong.getLuongThang()}&quot; </span><span class="s2">id</span><span class="s3">=&quot;luongThang&quot; </span><span class="s2">name</span><span class="s3">=&quot;luongThang&quot; </span><span class="s2">required</span><span class="s0">&gt;</span>
            <span class="s0">&lt;input </span><span class="s2">type</span><span class="s3">=&quot;hidden&quot; </span><span class="s2">name</span><span class="s3">=&quot;check&quot; </span><span class="s2">value</span><span class="s3">=&quot;OK&quot;</span><span class="s0">&gt;</span>
            <span class="s0">&lt;input </span><span class="s2">type</span><span class="s3">=&quot;hidden&quot; </span><span class="s2">name</span><span class="s3">=&quot;action&quot; </span><span class="s2">value</span><span class="s3">=&quot;editLaborContract&quot;</span><span class="s0">&gt;</span>
            <span class="s0">&lt;input </span><span class="s2">type</span><span class="s3">=&quot;hidden&quot; </span><span class="s2">name</span><span class="s3">=&quot;pageView&quot; </span><span class="s2">value</span><span class="s3">=&quot;3&quot;</span><span class="s0">&gt;</span>
            <span class="s0">&lt;br&gt;</span>
            <span class="s0">&lt;br&gt;</span>
            <span class="s0">&lt;input </span><span class="s2">type</span><span class="s3">=&quot;submit&quot; </span><span class="s2">value</span><span class="s3">=&quot;Xác nhận&quot;</span><span class="s0">&gt;</span>
        <span class="s0">&lt;/form&gt;</span>

    <span class="s0">&lt;/div&gt;</span>
<span class="s0">&lt;/body&gt;</span>
<span class="s0">&lt;/html&gt;</span></pre>
</body>
</html>