<html>
<head>
<title>home.html</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #a9b7c6;}
.s2 { color: #bababa;}
.s3 { color: #a5c261;}
.s4 { color: #a9b7c6;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
home.html</font>
</center></td></tr></table>
<pre><span class="s0">&lt;!DOCTYPE </span><span class="s2">html</span><span class="s0">&gt;</span>
<span class="s0">&lt;html </span><span class="s2">lang</span><span class="s3">=&quot;en&quot; </span><span class="s2">xmlns:th</span><span class="s3">=&quot;http://www.thymeleaf.org&quot;</span><span class="s0">&gt;</span>
<span class="s0">&lt;head&gt;</span>
    <span class="s0">&lt;title&gt;</span><span class="s4">Spring Security Example</span><span class="s0">&lt;/title&gt;</span>
<span class="s0">&lt;/head&gt;</span>
<span class="s0">&lt;body&gt;</span>
<span class="s0">&lt;h1&gt;</span><span class="s4">Welcome GUYS !</span><span class="s0">&lt;/h1&gt;</span>

<span class="s0">&lt;p&gt;&lt;a </span><span class="s2">href</span><span class="s3">=&quot;/login&quot;</span><span class="s0">&gt;</span><span class="s4">login</span><span class="s0">&lt;/a&gt;&lt;/p&gt;</span>
<span class="s0">&lt;p&gt;</span><span class="s4">Click </span><span class="s0">&lt;a </span><span class="s2">href</span><span class="s3">=&quot;https://loda.me&quot;</span><span class="s0">&gt;</span><span class="s4">here</span><span class="s0">&lt;/a&gt; </span><span class="s4">to see a loda homepage.</span><span class="s0">&lt;/p&gt;</span>

<span class="s0">&lt;/body&gt;</span>
<span class="s0">&lt;/html&gt;</span></pre>
</body>
</html>